[run]
branch = True
parallel = True
data_file = coverage/.coverage
include =
    src/jedi_language_server/*

[report]
exclude_lines =
    # Asserts and error conditions.
    raise AssertionError
    raise NotImplementedError

 
[html]
directory = coverage/html
title = debugpy coverage report

[xml]
output = coverage/coverage.xml
