[build-system]
requires = ["poetry-core>=1.6.1"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79

[tool.isort]
profile = "black"
line_length = 79

[tool.poetry]
name = "jedi-language-server"
version = "0.41.1"
description = "A language server for Jedi!"
authors = ["Sam Roeca <samuel.roeca@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/pappasam/jedi-language-server"
repository = "https://github.com/pappasam/jedi-language-server"
keywords = [
  "python",
  "completion",
  "refactoring",
  "vim",
  "neovim",
  "lsp",
  "language-server-protocol"
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Code Generators",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Text Editors :: Integrated Development Environments (IDE)",
  "Topic :: Utilities",
  "Typing :: Typed"
]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
jedi = "^0.19.0"
pygls = "^1.1.0"
cattrs = ">=23.1.2"
docstring-to-markdown = "0.*"
lsprotocol = ">=2022.0.0a9"
typing-extensions = {version = "^4.5.0", python = "<3.10"}

[tool.poetry.dev-dependencies]
pre-commit = ">=2.19.0"
pytest = ">=7.1.2"
toml-sort = ">=0.20.0"
isort = ">=5.10.1"
pylint = ">=2.13.9"
mypy = ">=0.961"
black = ">=22.6.0"
PyHamcrest = ">=2.0.3"
python-lsp-jsonrpc = ">=1.0.0"
pytest-cov = ">=3.0.0"
docformatter = ">=1.4,!=1.5.1"

[tool.poetry.scripts]
jedi-language-server = 'jedi_language_server.cli:cli'

[tool.poetry.urls]
Changelog = "https://github.com/pappasam/jedi-language-server/blob/main/CHANGELOG.md"
Issues = "https://github.com/pappasam/jedi-language-server/issues"
