[build-system]
requires = ["poetry>=1.0.5"]
build-backend = "poetry.masonry.api"

[tool.black]
line-length = 79

[tool.isort]
line_length = 79
indent = '    '
multi_line_output = 3
include_trailing_comma = true

[tool.poetry]
name = "jedi-language-server"
version = "0.23.1"
description = "A language server for Jedi!"
authors = ["Sam Roeca <samuel.roeca@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/pappasam/jedi-language-server"
repository = "https://github.com/pappasam/jedi-language-server"
keywords = [
  "python",
  "completion",
  "refactoring",
  "vim",
  "neovim",
  "lsp",
  "language-server-protocol",
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Code Generators",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Text Editors :: Integrated Development Environments (IDE)",
  "Topic :: Utilities",
  "Topic :: Utilities",
  "Typing :: Typed",
]
include = ["README.md"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6"
click = ">=7.0"
jedi = "0.18.0"
pygls = "^0.9.1"
cached-property = { version = ">=1.5.1", python = "~3.6 || ~3.7" }

[tool.poetry.dev-dependencies]
pre-commit = "^1.18"
tox = "^3.13"
pytest = "^5.0"
tox-asdf = "^0.1.0"
toml-sort = "^0.17.0"
isort = "^5.6.4"
pylint = "^2.6.0"
mypy = "^0.790"
black = "^20.8b1"

[tool.poetry.scripts]
jedi-language-server = 'jedi_language_server.cli:cli'

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py36,py37,py38
isolated_build = true
skipsdist = true
[testenv]
platform = linux
whitelist_externals = poetry
skip_install = true
commands =
  poetry install
  poetry run black --check --diff jedi_language_server tests
  poetry run mypy jedi_language_server
  poetry run pylint jedi_language_server tests
  poetry run pytest
"""
